<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="{{ meta.charset }}">
        <title>{{ title }}</title>
        <meta name="description" content="{{ meta.description }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="forgot.css">
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-key"></span> Сброс пароля</h1>
                {{#if message.length}}
                    <div class='alert alert-info'>{{message}}</div>
                {{/if}}
                <form method="post">
                    <div class="form-group">
                        <label>Почта</label>
                        <input type="text" class="form-control" name="login">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">
                        Сбросить пароль
                    </button>
                </form>
                <br>
                <p>Передумали? Перейдите на <a href="/">главную</a>.</p>
            </div>
        </div>
    </body>
</html>