@import '../../node_modules/bootstrap-styl/bootstrap/variables.styl'
@import '../vars.styl'

$footer-height = 60px;
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  /* Margin bottom by footer height */
  margin: 0 0 ($footer-height + 20px);
  //margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  //background-color: #18bc9c;
  background-color: $base-color;
  border-radius: 4px;
}
.footer p {
  margin: (($footer-height - $line-height-computed) / 2 * 0.95) 0;
  color: #fff;
  //color: #000;
  text-align: center;
}