{{#extend "base"}}
    {{#content "css"}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        <link rel="stylesheet" href="./slider.css">
    {{/content}}
    {{#content "js"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
        <script src="./slider.js"></script>
    {{/content}}
    {{#content "content"}}
        <div class="swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {{#each photo}}
                        <div class="swiper-slide">
                            <img src="{{this}}">
                        </div>
                    {{else}}
                        <div class="swiper-slide">No content</div>
                    {{/each}}
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    {{/content}}
{{/extend}}