html, body
{
    height: 100%;
}

  body {
    padding: 0 0 0 100px;
  }

.navmenu-brand
{
    width: 10px;
    height: 10px;
}

.inner-wrapper {
    
    
    padding: 20px;
    z-index: 9000;
    color: #fff;
    /*text-align: center;*/
    text-shadow: 0 0 5px rgba(0,0,0,.5);
    text-overflow: ellipsis;

}

.quest-name
{
    width: 80%;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    display: block;
    bottom: 50%;
    z-index: 100;
    font-size: 30px;
    color: #fff;
}

.blur
{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}


.medium .blur 
{
    background: url(2.jpg) no-repeat center center;
    background-size: cover;
    /*z-index: 99;   */
}

.small .blur 
{
    background: url(1.jpg) no-repeat center center;
    background-size: cover;
    /*z-index: 99;   */
}

.large .blur 
{
    background: url(3.jpg) no-repeat center center;
    background-size: cover;
    /*z-index: 99;   */
}

.quest:hover .blur
{
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}
.row 
{
    /*margin-right: 0;*/
    height: 600px;
}

.small
{
    position: relative;
    background: url(1.jpg) no-repeat center center;
    background-size: cover;
    height: 50%;
}

.medium
{
    /*position: relative;*/
    background: url(2.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.large
{
    position: relative;
    background: url(3.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


/*body {
  padding: 70px 0 0 0;
}*/
.navmenu {
  /*padding-top: 50px;*/
}
.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 992px) {
    .small
    {
        height: 100%;
    }

    figure.effect-zoe p.description {
    margin-left: -20px;
    background: rgba(0,0,0,0.6);
    opacity: 1;
}
}
/*  .navbar-toggle {
    display: block !important;
  }*/

/*    .quest
  {
        height: 600px;
  }*/


}
@media (min-width: 992px) {

  body {
    padding: 0 0 0 100px;
  }
  .navmenu {
    padding-top: 0;
  }
/*  .navbar {
    display: none !important; 
  }*/

}

.navbar-form
{
    width: 500px;
}



/* Common style */
figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    /*min-width: 320px;*/
    /*max-width: 480px;*/
    /*max-height: 360px;*/
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
figure figcaption {
    position: relative;
    z-index: 200;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
    pointer-events: none;
}

figure figcaption,
figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

figure h2 span {
    font-weight: 800;
}

figure h2,
figure p {
    margin: 0;
}

 figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: #fff;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

/*figure.effect-zoe h2 {
    float: left;
}*/

figure.effect-zoe p.icon-links a {
    /*float: right;*/
    color: #3c4a50;
    /*font-size: 1.4em;*/
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
    color: #252d31;
}

figure.effect-zoe p.description {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 6em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 100%;
    /*height: 90%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}


figure.effect-zoe h2 {
    display: inline-block;
}

figure.effect-zoe:hover p.description {
    margin-left: -20px;
    background: rgba(0,0,0,0.6);
    opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure > .name
{
    font-weight: bold;
    font-size: 2.5em;
    position: relative;
    z-index: 1000;
    padding: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
    overflow: hidden; 
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    white-space: nowrap;

}


.fa
{
    font-size: 140px;
}

.count
{
    display: inline-block;
    font-size: 20px;
}

li
{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

.icon-link ul
{

    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }

figure.effect-zoe h3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

figure.effect-zoe:hover h3::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}