<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="{{ meta.charset }}">
        <title>{{ title }}</title>
        <meta name="description" content="{{ meta.description }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
            body {padding-top:80px;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Login</h1>
                {{#if message.length}}
                    <div class="alert alert-danger">{{message}}</div>
                {{/if}}
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="login">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                    <a href="/auth/facebook" class="btn btn-primary btn-lg">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="/auth/vkontakte" class="btn btn-primary btn-lg">
                        <span class="fa fa-vk"></span>
                    </a>
                    <a href="/auth/twitter" class="btn btn-info btn-lg">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="/auth/google" class="btn btn-danger btn-lg">
                        <span class="fa fa-google-plus"></span>
                    </a>
                </form>
                <hr>
                <a href="/forgot">Forgot your password?</a>
                <p>Need an account? <a href="/signup">Create it</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
</body>
</html>