{{#extend "base"}}
	{{#content "css" mode="append"}}
	{{/content}}
    {{#content "content"}}
    	<div id="video-block" style="position:fixed;
    padding:0;
    margin:0;
    top:60px;
    left:0;
    width: 100%;
    height: 100%;" data-vide-bg="http://savichev-loh.surge.sh/246568619.mp4">
            <div class="container">
                <div class="jumbotron" style="margin-top: 50px; background: rgba(255, 255, 255, 0.7)">
                <div class="row">
                    <div class="col-lg-6">
                            <h1>PhotoQuest</h1>
                            <p class="lead">Создавайте лучшие фотографии во время путешествий, проходя квесты!</p>
                            <p><a class="btn btn-lg btn-success" href="#" role="button">Посмотреть лучшие квесты!</a></p>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Авторизация через любимые соц. сети</p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Необычные фотографии</p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Прохождение квестов</p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Использование геолокации</p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Удобный и быстрый интерфейс</p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Сделан в недрах Яндекса</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "js" mode="append"}}
        <script src="http://matthewhudson.me/projects/device.js/device.js"></script>
    	<script src="http://vodkabears.github.io/vide/js/jquery.vide.min.js"></script>
    	<script src="http://vodkabears.github.io/vide/js/jquery.noty.packaged.min.js"></script>
        <script>
            $(document).ready(function() {
                if (device.mobile() || screen.width < 692) {
                    $(".container").unwrap();
                }
            });
        </script>
    {{/content}}
{{/extend}}