<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="{{ meta.charset }}">
        <title>{{ title }}</title>
        <meta name="description" content="{{ meta.description }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
            body {padding-top:80px;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-key"></span> Reset Password</h1>
                {{#if message.length}}
                    <div class="alert alert-danger">{{message}}</div>
                {{/if}}
                <form method="post">
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" class="form-control" name="password">
                        <label>Confirm password</label>
                        <input type="password" class="form-control" name="confPassword">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">
                        Update Password
                    </button>
                </form>
                <br>
                <p>Go <a href="/">home</a>.</p>
            </div>
        </div>
    </body>
</html>