{{#extend "base"}}
    {{#content "css" mode="append"}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        {{#if isDev}}
            <link rel="stylesheet" href="/addQuest.css">
        {{else}}
            <link rel="stylesheet" href="//kafkatist.surge.sh/addQuest.css">
        {{/if}}
    {{/content}}
    {{#content "content"}}
        <form name="addQuestForm" method="post" enctype="multipart/form-data">
            <div class="main-info container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4-500">
                        <div class="upload-photo quest-preview-photo">
                            <div class="upload-photo-view">
                                <span class="upload-photo-icon glyphicon glyphicon-camera"></span>
                            </div>
                            <input type="file" size="1" name="preview" accept="image/*"
                                   class="upload-photo-input">
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8-500">
                        <div class="form-group">
                            <label for="quest-name">Мой квест</label>
                            <input type="text" class="form-control" id="quest-name"
                                   name="quest-name" placeholder="введите название" required>
                        </div>
                        <div class="form-group">
                            <label for="quest-city">Будет проходить в...</label>
                            <input type="text" class="form-control" id="quest-city"
                                   name="quest-city" placeholder="город" required>
                        </div>
                        <div class="form-group">
                            <label for="quest-duration">Время прохождения</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="quest-duration"
                                       name="quest-duration">
                                <div class="input-group-addon">часов</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quest-tags">Тэги</label>
                            <input type="text" class="form-control" id="quest-tags"
                                   name="quest-tags">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="quest-description">Описание</label>
                            <textarea class="form-control" rows="6" id="quest-description"
                                      placeholder="Расскажите о своем классном квесте"
                                      name="quest-description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="upload-photo quest-photos">
                            <div class="upload-photo-view">
                                <p class="upload-photo-text">Добавить фотографии квеста</p>
                            </div>
                            <input type="file" name="photos" size="1" accept="image/*"
                                   class="upload-photo-input" multiple>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper">
                            <div class="swiper-container">
                                <div class="swiper-wrapper"></div>
                                <div class="swiper-pagination"></div>
                                <!--<span class="upload-photo-text">Фотографии не выбраны</span>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6 col-sm-7
                            col-sm-offset-5 col-xs-12">
                        <div class="pull-right">
                            <button type="button" name="back" class="btn btn-default">Назад</button>
                            <button type="reset" name="reset" class="btn btn-danger">Сбросить форму</button>
                            <button type="submit" name="submit" class="btn btn-success">Создать квест</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {{/content}}
    {{#content "js" mode="append"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
        {{#if isDev}}
            <script src="/addQuest.js" type="text/javascript"></script>
        {{else}}
            <script src="//kafkatist.surge.sh/addQuest.js" type="text/javascript"></script>
        {{/if}}
    {{/content}}
{{/extend}}