html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background: url('symphony.png') repeat;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #18bc9c;
  border-radius: 4px;
}
.footer p {
  margin: 20px 0;
  color: #ffffff;
  text-align: center;
}