header {
    padding: 70px 0px;
    background-size: cover;
}
.header__info {
    width: 50%;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.city {
    font-size: 20px;
}
.description, .photos {
    padding: 35px;
    display: flex;
    width: 100%;
    align-items: stretch;
}
.description__photo {
    text-align: center;
    width: 35%;
    margin: 0px 10px;
    height: 350px;
    border-radius: 10px;
    background-size: cover;
    background-position: center top;
}
.description__photo > img{
    max-height: 300px;
    max-width: 100%;
    border-radius: 10px;
}
.description__text {
    padding: 10px;
    font-size: 25px;
    text-align: justify;
    width: 65%;
    margin: 0px 10px;
}
.addToWishList {
    margin-top: 10px;
}
h2 {
    padding-left: 30px;
}
.author {
    font-style: italic;
    text-align: right;
}
.photos {
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo__img {
    position: relative;
}
.photo__img > img {
    border-radius: 9px 9px 0px 0px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.photo {
    width: 48%;
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #128f76;
    background-color: #fff;
    margin: 10px auto;
}
.modal {
    max-width: 100%;
}
.photo__descr {
    display: flex;
    flex-direction: column
    justify-content: center;
    align-items: center;    
}
.photo__descr__hint {
    width: 80%;
    text-align: justify;
    padding: 20px 0px;
    font-size: 20px;
}
.photo__descr__button {
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.progress {
    width: 80%;
    margin: auto;
}
.progressTitle {
    text-align: center;
}
.foundBtn {
    border-radius: 10px 0px 0px 10px;
}
.commentBtn {
    border-radius: 0px 10px 10px 0px;
}
.modal-dialog {
    width: 85%;
}
.modal-body {
    width: 100%;
    display: flex;
    padding: 0 10px;
}
.modal-photo {
    width: 65%;
}
.modal-photo > img {
    width: 100%;
    max-height: 600px;
}
.modal-comments {
    width: 40%;
    padding: 10px;
}
.commentBox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 10px;
    width: 100%;
    text-align: left;
}
.author-photo {
    max-width: 15%;
}
.author-photo > img {
    width: 100%;
    border-radius: 50%;
}
.comment-text {
    width: 80%;
    font-size: 20px;
    margin-left: 15px;
    border-bottom: 2px dotted #aaa;
}
.comment-text > p {
    margin: 0;
}
.author-name {
    color: #128f76;
}
.text {
    padding: 10px;
}
.date {
    padding: 5px;
    font-size: 15px;
    color: #aaa;
}
.commentForm {
    width: 100%;
    display: flex;
}
.commentInput {
   width: 90%;
}
.hidden {
    visitibility: hidden;
}
.questComments {
    width: 90%;
    margin: 20px auto 100px auto;
}
.questComment {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.commentAuthorPhoto {
    width: 10%;
}
.commentAuthorPhoto > img {
    width: 100%;
    border-radius: 50%;
}
.commentData {
    width: 85%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.commentAuthor {
    color: #128f76;
    font-size: 25px;
    margin: 0;
}
.commentContent {
    padding: 10px 0px;
    font-size: 20px;
    border-bottom: 2px dotted #aaa;
}
.commentDate {
    color: #aaa;
    padding: 0px 10px;
    font-size: 15px;
}
#noComments {
    font-size: 20px;
    color: #aaa;
    margin: 30px;
}
.modal-header {
    position: relative;
    padding-top: 0;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
}
.modal-header .close {
    margin-top: 0;
}
a:hover {
    text-decoration: none;
}
span {
    font-size: 20px;
    vertical-align: top;
}
#likes:hover, #dislikes:hover {
    color: #f01150;
}
.isChecked {
    color: #f63e72;
}
@media screen and (max-width: 1000px){
    .modal.fade, .modal.fade.in {
        padding: 0 !important;
    }
    .modal-dialog{
        width: 100%;
        height: 100%;
        padding: 0;
        margin:0;
    }
    .modal-content {
        overflow:auto;
    }
    .description, .photos {
        padding: 15px;
    }
    .description, .photos, .photo__descr, .modal-body {
        flex-direction: column;
        align-items: center;
    }
    .description__photo, .description__text, .photo, .photo__descr__hint {
        width: 95%;
    }
    .modal-photo, .modal-dialog, .modal-comments {
        width: 100%;
    }
    .photos {
        padding: 10px;
    }
    .photo__descr__hint {
        font-size: 14px;
    }
    .description__text {
        font-size: 14px;
    }
    #questName {
        font-size: 28px;
    }
    .header__info {
        width: 80%;
    }
    .photo__img > img {
        height: 300px;
    }
    .commentAuthor {
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }
    .city {
        font-size: 15px;
    }
    .btn {
        padding: 10px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
    .photos {
        padding: 10px;
    }
    .photo__descr__hint {
        font-size: 20px;
    }
    .description__text {
        font-size: 20px;
    }
    #questName {
        font-size: 35px;
    }
    .header__info {
        width: 70%;
    }
    .photo__img > img {
        height: 400px;
    }
    .commentAuthor {
        font-size: 26px;
    }
    h2 {
        font-size: 31px;
    }
    .city {
        font-size: 21px;
    }
}