{{#extend "base"}}
    {{#content "css" mode="append"}}
        {{#if isDev}}
            <link rel="stylesheet" href="/questPage.css">
        {{else}}
            <link rel="stylesheet" href="//kafkatist.surge.sh/questPage.css">
        {{/if}}
    {{/content}}
    {{#content "content"}}
        <div class="container"><p class="supertext">Квест успешно создан!</p></div>
    {{/content}}
{{/extend}}