<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class = "navbar-brand" href = "#">
            <span class="glyphicon glyphicon-camera"></span> PhotoQuest
        </a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/search">Поиск</a></li>
            <li><a href="/addQuest">Создать квест</a></li>
            <li class="dropdown">
                <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                    <i class="fa fa-lg fa-angle-double-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile">
                            <i class="fa fa-user" aria-hidden="true"> </i>Профиль
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out" aria-hidden="true"> </i>Выйти
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>