{{#extend "base"}}
    {{#content "content"}}
        <nav class="navbar navbar-default">
            <form class="navbar-form" role="search">
                <div class="input-group col-xs-12  col-sm-5 input-group-lg">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
        <main class="container-fluid">
            <div class="row">
                <a href="#">
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-6 quest medium">
                        <div class="blur"></div>
                        <h3 class="quest-name">Стенограффия Стенограффия Стенограффия Стенограффия Стенограффия</h3>
                        <figcaption class="addition">
                            <ul class="icons">
                                <li class="icon"><i class="fa fa-2x fa-star-o fa-fw"></i>5</li>
                                <li class="icon"><i class="fa fa-2x fa-comments-o fa-fw"></i>15</li>
                                <li class="icon"><i class="fa fa-2x fa-hourglass fa-fw"></i>сложно</li>
                            </ul>
                            <p class="description description__medium">
                                «Стенограффия» - это мероприятие всероссийского масштаба, доказавшее свою
                                актуальность и востребованность, завоевавшее  звание лучшего проекта в
                                области социальных коммуникаций и благотворительности на всероссийском
                                конкурсе «Серебряный лучник».   
                            </p>
                        </figcaption>
                    </figure>
                </a>
                <a href="#">
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-6 quest small">
                        <div class="blur"></div>
                        <h3 class="quest-name">Стенограффия Стенограффия Стенограффия Стенограффия Стенограффия</h3>
                        <figcaption class="addition">
                            <ul class="icons">
                                <li class="icon"><i class="fa fa-2x fa-star-o fa-fw"></i>5</li>
                                <li class="icon"><i class="fa fa-2x fa-comments-o fa-fw"></i>15</li>
                                <li class="icon"><i class="fa fa-2x fa-hourglass fa-fw"></i>сложно</li>
                            </ul>
                            <p class="description description__small">
                                «Стенограффия» - это мероприятие всероссийского масштаба, доказавшее свою
                                актуальность и востребованность, завоевавшее  звание лучшего проекта в
                                области социальных коммуникаций и благотворительности на всероссийском
                                конкурсе «Серебряный лучник».   
                            </p>
                        </figcaption>
                    </figure>
                </a>
                <a href="#">
                    <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-6 quest small">
                        <div class="blur"></div>
                        <h3 class="quest-name">Стенограффия Стенограффия Стенограффия Стенограффия Стенограффия</h3>
                        <figcaption class="addition">
                            <ul class="icons">
                                <li class="icon"><i class="fa fa-2x fa-star-o fa-fw"></i>5</li>
                                <li class="icon"><i class="fa fa-2x fa-comments-o fa-fw"></i>15</li>
                                <li class="icon"><i class="fa fa-2x fa-hourglass fa-fw"></i>сложно</li>
                            </ul>
                            <p class="description description__small">
                                «Стенограффия» - это мероприятие всероссийского масштаба, доказавшее свою
                                актуальность и востребованность, завоевавшее  звание лучшего проекта в
                                области социальных коммуникаций и благотворительности на всероссийском
                                конкурсе «Серебряный лучник».   
                            </p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="row">
                <a href="#">
                    <figure class="col-xs-12 col-sm-12 col-md-12 col-lg-12 quest large">
                        <div class="blur"></div>
                        <h3 class="quest-name">Стенограффия Стенограффия Стенограффия Стенограффия Стенограффия</h3>
                        <figcaption class="addition">
                            <ul class="icons">
                                <li class="icon"><i class="fa fa-2x fa-star-o fa-fw"></i>5</li>
                                <li class="icon"><i class="fa fa-2x fa-comments-o fa-fw"></i>15</li>
                                <li class="icon"><i class="fa fa-2x fa-hourglass fa-fw"></i>сложно</li>
                            </ul>
                            <p class="description description__large">
                                «Стенограффия» - это мероприятие всероссийского масштаба, доказавшее свою
                                актуальность и востребованность, завоевавшее  звание лучшего проекта в
                                области социальных коммуникаций и благотворительности на всероссийском
                                конкурсе «Серебряный лучник».   
                            </p>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </main>
    {{/content}}
{{/extend}}